<link rel="stylesheet" href="/css/singup.css">
<div class="container">
    <div class="form-container">
      <h1>Forgot-Password</h1>
      <form action="/page/sendemail" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <button>Send Email</button>
      </form>
    </div>
  </div>