<link rel="stylesheet" href="/css/singup.css">
<div class="container">
    <div class="form-container">
      <h1>Sign Up</h1>
      <form action="/page/create-singup" method="POST">
        <input type="text" name="username" placeholder="Username"  />
        <input type="email" name="email" placeholder="Email"  />
        <input type="password" name="password" placeholder="Password"  />
        <input type="password" name="Conformpassword" placeholder="ReEnter-Password"  />
        <button>Sign Up</button>
      </form>
      <p>
        <a href="/page/auth/google">Google Sing UP ad Sing IN</a>
      </p>
    </div>
  </div>
  