<link rel="stylesheet" href="/css/mail.css">
<div class="container">
    <div class="alert">
        <h1>Hi This is Reset Password Link:-</h1>
        <p>This link valid for <strong>5 min </strong>click on for change password</p>
    </div>
    <p>
        <a href="http://localhost:8000/passwordchange/resetpass/<%=user.id%>">Click here for change password</a>
    </p>
    <p>Thanks! Insert your regular email message here.</p>
</div>